/*
    Coded By @fadilmalik_
    https://github.com/fadilmalik
*/

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  background: #efefbb;
  background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
  margin: 0;
  font-family: "Lato";
}

main {
  padding: 40px;
  margin: 0 auto;
}

.navigator {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}

button {
  border: none;
  display: inline-block;
  padding: 20px 15px;
  font-weight: 500;
  cursor: pointer;
}
  
button:hover {
  background-color: #ddd;
  color: black;
}
  
.prev, .next {
  background-color: #fff;
  color: black;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  main {
    display: flex;
    justify-content: center;
  }

  .navigator{
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0 40px;
  }
}
